@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root{
      /* fonts */
      --ft-1: 'Poppins', sans-serif;
      --ft-2: 'Saira Extra Condensed', sans-serif;

      /* basic */
      --light: #fff;
      --dark-300: #131517;
      --dark-200: #262626; 
      --dark-100: #2a2a2a;

      /* player */
      --out-bg: #2e3035;
      --player-bg: #16171b;
      --text-dark: #545454;
      --theme: #cf2828;

      /* default */
      font-size: 62.5%;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
}

body *{
      font-size: 1rem;
}

body{
      color: var(--light);
      background: var(--out-bg);
      font-family: var(--ft-1);
      overflow-x: hidden;
      height: 100vh;
}

:before,
:after{
      content: '';
      position: absolute;
}

a, span{
      display: inline-block;
}

a{
      text-decoration: none;
}

ul{
      list-style: none;
}

button{
      cursor: pointer;
      outline: none;
      border: none;
}

img{
      width: 100%;
      object-fit: cover;
}

i.bx{
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
}

.flex{
      display: flex;
}

.jd_content{
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
}

.jd_player{
      width: 92rem;
      height: 75.6rem;
      background: var(--player-bg);
      position: relative;
}

.jd_player:after{
      width: 60%;
      height: 10rem;
      background: #000;
      border-radius: 50%;
      left: 20%;
      bottom: -5rem;
      filter: blur(50px);
      z-index: -1;
}

.jd_player__content{
      padding: 2.5rem 3rem;
      height: 42rem;
}

.jd_col.top{
      width: 50%;
}

.jd_header__top{
      height: 3rem;
      gap: .5rem;
      align-items: center;
}

.jd_header__top i{
      height: 3rem;
      font-size: 3rem;
      color: var(--theme);
      width: 3rem;
}

.jd_header__top h1{
      font-size: 2.4rem;
      font-weight: 500;
      position: relative;
}

.jd_header__top h1:before,
.jd_header__top h1:after{
      background: var(--theme);
      height: .4rem;
      bottom: 0;
      border-radius: 999px;
}

.jd_header__top h1:before{
      left: 0;
      width: .4rem;
}

.jd_header__top h1:after{
      width: 5rem;
      left: 1rem;
}

.jd_main__top{
      margin-top: 3rem;
      align-items: center;
      justify-content: center;
}

.jd_cover__box,
.jd_cover{
      width: 30rem;
      height: 30rem;
}

.jd_cover__box{
      position: relative;
      background: var(--dark-200);
      box-shadow: 3rem 3rem 50px rgba(0,0,0,.6);
}

.jd_btn__playpause,
.jd_play,
.jd_pause,
.jd_loading__play{
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
}

.jd_btn__playpause{
      background: rgba(0,0,0,.8);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.jd_btn__playpause .jd_play i,
.jd_btn__playpause .jd_pause i{
      color: var(--light);
      font-size: 8rem;
}

.jd_btn__playpause .jd_play{
      padding-left: 1rem;
}

.jd_btn__playpause .jd_pause{
      display: none;
}

.jd_btn__playpause.isplaying .jd_pause{
      display: flex;
}

.jd_btn__playpause.isplaying .jd_play{
      display: none;
}

.jd_btn__playpause.ispaused .jd_play{
      display: flex;
}

.jd_btn__playpause.ispaused .jd_pause{
      display: none;
}

.pulse{
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 50%;
      display: none;
      cursor: pointer;
      background: var(--theme);
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
}

.pulse.active{
      display: flex;
}

.pulse-bar{
      animation-name: equalize;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.pulse-bar {
      border-radius: 13px;
      background: var(--light);
      width: 4px;
      margin-right: 3px;
      transition: .5s;
}

.pulse-bar-first {
      animation-delay: -1.9s;
      height: 13px;
}

.pulse-bar-second {
      animation-delay: -2.9s;
      height: 31px;
}

.pulse-bar-third {
      animation-delay: -3.9s;
      height: 19px;
}

.pulse-bar-fourth {
      animation-delay: -4.9s;
      height: 49px;
}
    
@keyframes equalize {
      0% {
        height: 49px;
      }
      4% {
        height: 42px;
      }
      8% {
        height: 40px;
      }
      12% {
        height: 30px;
      }
      16% {
        height: 20px;
      }
      20% {
        height: 30px;
      }
      24% {
        height: 40px;
      }
      28% {
        height: 10px;
      }
      32% {
        height: 40px;
      }
      36% {
        height: 49px;
      }
      40% {
        height: 20px;
      }
      44% {
        height: 40px;
      }
      48% {
        height: 49px;
      }
      52% {
        height: 30px;
      }
      56% {
        height: 10px;
      }
      60% {
        height: 30px;
      }
      64% {
        height: 49px;
      }
      68% {
        height: 30px;
      }
      72% {
        height: 49px;
      }
      76% {
        height: 20px;
      }
      80% {
        height: 49px;
      }
      84% {
        height: 38px;
      }
      88% {
        height: 49px;
      }
      92% {
        height: 20px;
      }
      96% {
        height: 49px;
      }
      100% {
        height: 49px;
      }
}

/* station list */

.jd_col.list{
      height: 100%;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--dark-200) var(--theme);
}

.jd_col.list::-webkit-scrollbar{
      width: .8rem;
      background: var(--dark-200);
      border-radius: 999px;
}

.jd_col.list::-webkit-scrollbar-thumb{
      background: var(--theme);
      border-radius: 999px;
}

.jd_station__list{
      width: 96%;
      height: auto;
      flex-direction: column;
      gap: .5rem;
}

.jd_row__list{
      width: 100%;
      height: 7rem;
      background: var(--dark-300);
      border-radius: .5rem;
      position: relative;
      overflow: hidden;
}

.jd_row__group{
      width: 100%;
      height: 100%;
      padding: .5rem;
      padding-right: 4rem;
      gap: 2rem;
      align-items: center;
      position: relative;
      z-index: 2;
}

.jd_station__info{
      flex: 1;
      gap: 1rem;
}

.jd_station__brand{
      width: 6rem;
      height: 6rem;
      border-radius: .3rem;
      overflow: hidden;
}

.jd_station__info div strong{
      displaY: block;
      margin-top: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
}

.jd_station__info div span{
      color: var(--text-dark);
      font-size: 1.2rem;
}

.jd_row__group > a{
      color: var(--theme);
      text-transform: uppercase;
      padding: .5rem 1rem;
      background: var(--dark-200);
      border-radius: .3rem;
      transition: .2s;
}

.jd_row__group > a:hover{
      color: var(--light);
}

.jd_btn__list{
      width: 3rem;
      height: 3rem;
      background: var(--dark-200);
      border-radius: 50%;
      position: relative;
}

.jd_btn__list:before{
      width: 4rem;
      height: 4rem;
      background: transparent;
      border-radius: 50%;
      top: -.5rem;
      left: -.5rem;
      box-shadow: 0 0 0 .5rem var(--theme) inset;
      z-index: -1;
      transform: scale(0)
}

.jd_btn__list:hover:before{
      animation: pulse_1 .5s ease-out infinite;
}

@keyframes pulse_1{
      0%{
            transform: scale(0);
            opacity: 1;
            box-shadow: 0 0 0 2rem var(--theme) inset;
      }
      100%{
            transform: scale(1.2);
            opacity: .2;
            box-shadow: 0 0 0 .1rem var(--theme) inset;
      }
}

.jd_btn__list i{
      color: var(--theme);
      width: 3rem;
      height: 3rem;
      font-size: 2.5rem;
      padding-left: .3rem;
      transition: .2s;
}

.jd_btn__list:hover i{
      color: var(--light);
}

.jd_list__playing{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.8);
      visibility: hidden;
}

.jd_row__list.active .jd_list__playing{
      visibility: visible;
}

.jd_list__playing span{
      font-size: 1.6rem;
      padding: .3rem 2rem;
      color: var(--theme);
      box-shadow: 0 0 0 .1rem var(--theme) inset;
}

/* nowplaying */

.jd_nowplaying{
      margin-top: 2rem;
      width: 100%;
      padding: 0 4rem;
      flex-direction: column;
      align-items: center;
}

.jd_playing{
      width: 100%;
      height: 4rem;
      position: relative;
      overflow: hidden;
}

.jd_playing:before,
.jd_playing:after{
      width: 4rem;
      height: 4rem;
      top: 0;
      z-index: 2;
}

.jd_playing:before{
      left: 0;
      background: linear-gradient(90deg, var(--player-bg), transparent);
}

.jd_playing:after{
      right: 0;
      background: linear-gradient(90deg, transparent, var(--player-bg));
}

.jd_playing__animated{
      width: fit-content;
      min-width: 100%;
      font-size: 3rem;
      font-weight: 500;
      white-space: nowrap;
      line-height: 4rem;
      position: relative;
}

.jd_playing__animated.move_text{
      animation: move_left 10s linear infinite;
}

@keyframes move_left{
      100%{
            transform: translateX(-100%);
      }
}

.jd_playing__static{
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-size: 2rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
}

.jd_volume__controls{
      height: 4rem;
      align-items: center;
      justify-content: space-between;
      padding: 0 4rem;
      gap: 2rem;
      margin-top: .6rem;
}

.jd_volume__controls button,
.jd_volume__controls button i{
      width: 4rem;
      height: 4rem;
}

.jd_volume__controls button{
      background: transparent;
      color: var(--theme);
}

.jd_volume__controls button i{
      font-size: 3rem;
}

.jd_volume__controls button i#mute{
      display: none;
}

.jd_volume__slider{
      flex: 1;
      height: 4rem;
      position: relative;
}

.jd_volume__progress{
      width: 100%;
      height: 1rem;
      background: var(--dark-200);
      border-radius: 999px;
      position: absolute;
      top: calc(50% - .5rem);
      left: 0;
      overflow: hidden;
}

.jd_progress__bar{
      width: 50%;
      height: 1rem;
      background: var(--theme);
}

.jd_volume{
      appearance: none;
      border: none;
      outline: none;
      background: none;
      position: absolute;
      width: 100%;
      height: 1rem;
      top: calc(50% - .5rem);
      left: 0;
}

.jd_volume::-webkit-slider-thumb{
      appearance: none;
      width: 3rem;
      height: 3rem;
      background: var(--theme);
      border-radius: 50%;
      border: solid .4rem var(--light);
      box-sizing: border-box;
      cursor: pointer;
}

.jd_volume::-moz-range-thumb{
      appearance: none;
      width: 3rem;
      height: 3rem;
      background: var(--theme);
      border-radius: 50%;
      border: solid .4rem var(--light);
      box-sizing: border-box;
      cursor: pointer;
}

/** current station */
.jd_current__station{
      width: 100%;
      height: 8rem;
      background: var(--dark-100);
      padding: 1rem;
      justify-content: space-between;
      margin-top: 2rem;
}

.jd_bottom__current{
      gap: 1rem;
      flex: 1;
}

.jd_current__brand{
      background: var(--dark-200);
      width: 6rem;
      height: 6rem;
      box-shadow: .5rem .5rem 20px rgba(0,0,0,.2);
      border-radius: .2rem;
      overflow: hidden;
}

.jd_current__info{
      flex-direction: column;
}

.jd_current__info span{
      text-transform: uppercase;
      font-weight: 500;
      color: var(--text-dark);
      font-size: 1.2rem;
}

.jd_current__info strong{
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--theme);
}

.jd_current__song{
      font-size: 1.2rem;
      width: 100%;
      max-width: 28rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}

.jd_bottom__serverinfo{
      height: 100%;
      align-items: center;
      gap: 2rem;
}

.jd_serverinfo{
      height: 4rem;
      align-items: center;
}

.jd_col__info{
      height: 4rem;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.5rem;
      border-right: solid .1rem var(--dark-300);
}

.jd_col__info:last-child{
      border: none;
}

.jd_col__info strong{
      font-size: 3rem;
      line-heighT: 2.5rem;
      color: var(--theme);
      font-weight: 600;
}

.jd_col__info span{
      text-transform: uppercase;
      font-weight: 500;
      color: var(--text-dark);
      font-size: 1.2rem;
}

.jd_live{
      padding: .25rem 1.5rem;
      text-transform: uppercase;
      background: var(--theme);
      border-radius: .3rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--dark-100);
      position: absolute;
      top: 0;
      RIGHT: 4rem;
}

.jd_live:before{
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background: red;
      bottom: 0;
      left: 0;
      border: solid .3rem var(--player-bg);
      box-sizing: border-box;
      transform: translate(-50%, 50%);
}

.jd_live.live:before{
      background: rgb(58, 195, 58);
}

.jd_spectrum{
      width: 22.8rem;
      height: 6rem;
}

.jd_spectrum canvas{
      width: 22.8rem;
      height: 6rem;
}

/** news */
.jd_news{
      width: 100%;
      height: 8rem;
      margin-top: 2rem;
      position: relative;
}

.jd_news__headerline{
      height: 4rem;
      align-items: center;
      gap: 1rem;
      padding: 0 4rem;
}

.jd_news__headerline i{
      font-size: 3.5rem;
      color: var(--theme);
      width: 3rem;
}

.jd_news__headerline h2{
      font-size: 2rem;
      font-weight: 500;
}

.jd_news__content{
      width: 100%;
      height: 4rem;
      position: relative;
      overflow: hidden;
      background: var(--theme);
      margin-top: .5rem;
      box-shadow: 0 -.5rem var(--light), 0 .5rem var(--light);
}

.jd_news__content:before,
.jd_news__content:after{
      width: 5rem;
      height: 4rem;
      bottom: 0;
      z-index: 10;
}

.jd_news__content:before{
      left: 0;
      background: linear-gradient(90deg, var(--theme) 10%, transparent);
}

.jd_news__content:after{
      right: 0;
      background: linear-gradient(90deg, transparent, var(--theme) 90%);
}

.jd_news__group{
      width: fit-content;
      gap: 2rem;
      height: 4rem;
      position: relative;
      animation: move_news 100s linear infinite;
      transform: translateX(92rem);
}

.jd_news__group:hover{
      animation-play-state: paused;
}

@keyframes move_news{
      100%{
            transform: translateX(-100%);
      }
}

.jd_news__article,
.jd_news__article a,
.jd_news__article a p{
      width: fit-content;
      height: 4rem;
}

.jd_news__article{
      position: relative;
      padding-left: 3rem;
}

.jd_news__article:before{
      width: 1.2rem;
      height: 1.2rem;
      background: var(--light);
      left: 0;
      top: calc(50% - .6rem);
      border-radius: 50%;
}

.jd_news__article a p{
      white-space: nowrap;
      line-height: 4rem;
      font-size: 2rem;
      font-family: var(--ft-2);
}

.jd_news__article a{
      color: var(--light);
}

/** load player */
.jd_load__player{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--player-bg);
      z-index: 1000;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

.jd_load__circle{
      width: 10rem;
      height: 10rem;
      align-items: center;
      justify-content: center;
      position: relative;
}

.jd_load__banner{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      align-items: center;
      justify-content: center;
}

.jd_load__banner:after{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(0,0,0,.1), var(--player-bg));
}

.jd_load__banner img{
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      animation: pulse_banner 2s ease-in-out infinite;
}

@keyframes pulse_banner{
      0%{
            transform: scale(1);
      }
      5%{
            transform: scale(1.1);
      }
      10%{
            transform: scale(1);
      }
      15%{
            transform: scale(1.2);
      }
      100%{
            transform: scale(1);
      }
}


.jd_load__text{
      width: 35rem;
      height: 5rem;
      border-radius: 999px;
      box-shadow: 0 0 0 .2rem var(--light) inset;
      position: relative;
      align-items: center;
      justify-content: center;
}

.jd_load__text:before{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      box-shadow: 0 0 0 .3rem var(--light) inset;
      filter: blur(5px);
}

.jd_load__text h2{
      position: relative;
      display: table;
      background: repeating-linear-gradient(90deg, rgb(0,140,255), rgb(255, 0, 204), rgb(0,140,255) 50%);
      background-size: 200%;
      background-position: right center;
      animation: move_bg 1s linear infinite;
      font-size: 2rem;
      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
}

.jd_load__text h2:before{
      content: attr(data-tooltip);
      background: repeating-linear-gradient(90deg, rgb(0,140,255), rgba(255,0,255), rgb(0,140,255) 50%);
      background-size: 200%;
      background-position: right center;
      animation: move_bg 1s linear infinite;
      font-size: 2rem;
      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      filter: blur(10px)
}

@keyframes move_bg{
      100%{
            background-position: left center;
      }
}